@import "vars"

body 
	background-color: $bg-primary
	color: $font-primary
	margin: 0
	font-size: 1.5em

#opcionesUsuario
	position: relative

	#top-buttons
		display: flex
		align-items: center
		position: fixed
		align-content: center
		top: 10
		right: 60
		padding: 5px
		padding-left: 15px
		border-radius: 25px
		z-index: 2
		// background-color: $bg-primary
		// border: 3px solid $color-primary

		.icons
			background-color: $bg-secondary
			border-radius: 25px
			border: 2px solid $color-primary
			display: flex
			align-items: center
			
			#nombre-usuario
				margin: 4px
				margin-left: 20px 
				margin-right: 15px
			i
				color: $color-primary
				margin-right: 20px

		#profileDiv
			padding: 1rem
			display: flex
			flex-direction: column
			background-color: $bg-secondary
			border-radius: 25px
			border: 2px solid $color-primary

			.items
				display: flex
				justify-content: space-between
				align-items: center
	
	#carritoButton
		display: flex
		position: fixed
		align-content: center
		right: 10px
		top: 25px
		padding: 5px
		padding-left: 15px
		border-radius: 25px
		z-index: 2

		#iconCarrito 
			background-color: $bg-secondary
			border-radius: 25px
			border: 2px solid $color-primary
			display: flex
			align-items: center
		
			i
				color: $color-primary

.filtros 
	text-align: center 
	margin: 0 auto
	margin-top: 20 
	padding-bottom: 20px 
	button 
		background-color: transparent 
		border-radius: 25px 
		padding: 10px 25px 
		color: $font-secondary 
		cursor: pointer 
		border: 1px solid transparent 
		&:focus 
			outline: none
	
	.control-active
		background-color: $color-primary
		color: $font-primary

.filtros button:hover, .filtros button.mixitup-control-active 
	border: 1px solid #656565 
	border-radius: 25px 
	color: #656565 

#galeria
	display: flex 
	flex-wrap: wrap
	gap: 20px 
	background-color: $bg-secondary
	padding: 15px 
	z-index: -3

	a
		flex: 1 1 300px

	img 
		width: 100% 
		display: block 
		-webkit-filter: grayscale(1) 
		filter: grayscale(1) 
		transition: all 100ms ease-out 
		// position:relative
		z-index: 1
		
		&:hover 
			transform: scale(1.04) 
			-webkit-filter: grayscale(0) 
			filter: grayscale(0) 
	i 
		color: $color-primary

.busqueda
	border-radius: 25px
	z-index: 1

	#txtSearch
		border-radius: 25px 0px 0px 25px
		background-color: $bg-secondary
		border: 1px solid $color-primary
		color: $font-primary

	#btnSearch
		background-color: $color-primary
		border-radius: 0px 25px 25px 0px

.input-dark
	width:18%
	text-align:	center
	// background-color: $bg-primary
	border: 1px solid $color-primary
	border-radius: 5px
	// color: $font-primary

#blur
	height:100%
	width:100%
	z-index:1 
	position: fixed
	top:0 
	left:0
	-webkit-filter: blur(5px)
	-moz-filter: blur(5px)
	-o-filter: blur(5px)
	-ms-filter: blur(5px)
	filter: blur(5px)
	backdrop-filter: blur(1px)

::-webkit-scrollbar 
	margin-right: 1%
	width: 40px
	background-color: $bg-secondary
	border-radius: 25px


/* Track */
::-webkit-scrollbar-track
	background: $color-primary
	border-radius: 25px
	border: 18px solid transparent
	background-clip: content-box


/* Handle */
::-webkit-scrollbar-thumb 
	background: $color-primary
	border-radius: 25px
	border: 8px solid transparent
	background-clip: content-box

.carritoItem:hover
	background-color: red