@import "vars"

body 
	background-color: $bg-primary
	color: $font-primary
	margin: 0
	font-size: 1.5em
h1 
	color: $font-primary 
	font-size: 2.25em 
	text-align: center 
	margin-top: 1em 
	margin-bottom: 2em 
	// text-shadow: 0px 2px 0px #000000

#titulo
	padding-top: 110px
	padding-bottom: 110px
	text-align: center
	margin-bottom: 0

.filtros 
	text-align: center 
	margin: 0 auto
	margin-top: 20 
	padding-bottom: 20px 
	button 
		background-color: transparent 
		border-radius: 25px 
		padding: 10px 25px 
		color: $font-secondary 
		cursor: pointer 
		border: 1px solid transparent 
		&:focus 
			outline: none
	
	.control-active
		background-color: $color-primary
		color: $font-primary

.filtros button:hover, .filtros button.mixitup-control-active 
	border: 1px solid #656565 
	border-radius: 25px 
	color: #656565 

#galeria
	display: flex 
	flex-wrap: wrap
	gap: 20px 
	background-color: $bg-secondary
	padding: 15px 

	a
		flex: 1 1 300px

	img 
		width: 100% 
		display: block 
		-webkit-filter: grayscale(1) 
		filter: grayscale(1) 
		transition: all 100ms ease-out 
		// position:relative
		z-index: 5
		
		&:hover 
			transform: scale(1.04) 
			-webkit-filter: grayscale(0) 
			filter: grayscale(0) 

.busqueda
	border-radius: 25px

	#txtSearch
		border-radius: 25px 0px 0px 25px
		background-color: $bg-secondary
		border: 1px solid $color-primary
		color: $font-primary

	#btnSearch
		background-color: $color-primary
		border-radius: 0px 25px 25px 0px